{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [".vscode/*", ".prettierrc", "tsconfig.json"],
      "options": {
        "parser": "json5",
        "singleQuote": false,
        "quoteProps": "preserve",
      },
    },
  ],
}
